/* Загальні стилі для body */
body {
    font-family: Arial, sans-serif; /* Встановлюємо шрифт для всього документу */
    background-color: #f0f0f0; /* Встановлюємо колір фону */
    margin: 0; /* Видаляємо зовнішні відступи */
    padding: 0; /* Видаляємо внутрішні відступи */
    display: flex; /* Встановлюємо flex контейнер */
    justify-content: center; /* Вирівнюємо по центру по горизонталі */
    align-items: center; /* Вирівнюємо по центру по вертикалі */
    height: 100vh; /* Встановлюємо висоту на весь екран */
}

/* Стилі для контейнера гри */
#gameContainer {
    text-align: center; /* Вирівнюємо текст по центру */
}

/* Стилі для заголовку */
h1 {
    font-size: 32px; /* Встановлюємо розмір шрифту */
    color: #333; /* Встановлюємо колір тексту */
    margin-top: 20px; /* Відступ зверху */
}

/* Стилі для кнопок */
button {
    padding: 12px 24px; /* Встановлюємо внутрішні відступи */
    margin: 10px; /* Зовнішні відступи */
    background-color: #007bff; /* Колір фону */
    color: white; /* Колір тексту */
    border: none; /* Видаляємо рамку */
    border-radius: 5px; /* Закруглюємо кути */
    cursor: pointer; /* Змінюємо курсор на вказівник */
    font-size: 18px; /* Розмір шрифту */
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавний перехід */
}

button:hover {
    background-color: #0056b3; /* Колір фону при наведенні */
}

/* Стилі для дошки гри */
#gameBoard {
    margin: 20px auto; /* Зовнішні відступи: верх та низ */
    border-collapse: collapse; /* Злиття границь */
}

/* Стилі для клітинок на дошці */
td {
    width: 60px; /* Ширина клітинки */
    height: 60px; /* Висота клітинки */
    background-color: #ccc; /* Колір фону клітинки */
    border: 1px solid #000; /* Границя клітинки */
    cursor: pointer; /* Змінюємо курсор на вказівник */
    transition: background-color 0.3s ease; /* Плавний перехід */
}

/* Стилі для включених ліхтариків */
.lightOn {
    background-color: #008080; /* Колір фону для включених ліхтариків */
}

/* Стилі для вимкнених ліхтариків */
.lightOff {
    background-color: #66CDAA; /* Колір фону для вимкнених ліхтариків */
}

/* Стилі для інформації про гру */
#gameInfo {
    margin-top: 20px; /* Зовнішній відступ зверху */
}

/* Стилі для параграфів в інформації про гру */
#gameInfo p {
    margin: 5px 0; /* Внутрішній відступ */
}

/* Медіазапит для екранів з шириною до 768px */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 28px; /* Зменшуємо розмір шрифту для мобільних пристроїв */
    }
    button {
        padding: 10px 20px; /* Зменшуємо внутрішні відступи для мобільних пристроїв */
        font-size: 16px; /* Зменшуємо розмір шрифту для мобільних пристроїв */
    }
}
